body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 75px; /* Espaço para evitar que o conteúdo fique atrás da navbar */
}

.barra-navegacao {
  background-color: #6049E8;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000;
}

.conteudo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.logo-nav {
  width: 200px;
  height: auto;
}

.caixa-pesquisa {
  background-color: #6049E8;
  border-radius: 50px;
  width: 40%;
  margin: 0 auto;
}

.campo-pesquisa {
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 600px;
}

.campo-pesquisa input {
  border: none !important;
  outline: none !important;
  border-radius: 50px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  appearance: none;
  box-shadow: none !important;
  border-color: transparent !important;
}

.menu-direita {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-direita li {
  margin-right: 10px;
}

.menu-direita a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.icone-usuario {
  color: white;
  font-size: 24px;
}
