.barra-lateral {
  background-color: #6049E8;
  width: 60px; 
  height: calc(100vh - 75px);
  position: fixed;
  top: 75px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  transition: width 0.3s, height 0.3s;
  z-index: 100;
  overflow: hidden;
}

.barra-lateral.expanded {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px; 
  margin: 5px;
  border-radius: 8px;
  transition: background-color 0.3s;
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
}

a.active {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.icone {
  color: white;
  transition: color 0.3s;
  width: 30px; 
}

.tab-name {
  margin-left: 10px;
  color: white; 
  display: inline; 
  opacity: 0; 
  transition: opacity 0.3s; 
}

.barra-lateral.expanded .tab-name {
  opacity: 1; 
}

.logout-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 60px; 
}

.logout-container a {
  width: 100%; 
}

