.modal-overlay {
  display: flex !important;  /* Garante que está visível */
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;  /* Para ficar acima de tudo */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro para teste */
  width: 100vw;
  height: 100vh;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-info {
  margin: 10px 0;
  font-size: 14px;
}

.modal-contact {
  background-color: #6049E8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.modal-contact:hover {
  background-color: #5242b1;
}
